name: MLflow CI

on:
  push:
    branches: ["main"]

jobs:
  run-mlflow:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Install dependencies
      run: |
        pip install mlflow pandas scikit-learn

    - name: Run MLflow project
      run: |
        cd MLProject
        mlflow run . -P data_path=healthcare-dataset-stroke-data_preprocessing.csv